<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="30" height="30" alt="Goty logo" loading="lazy">
    </a>

    <a class="navbar-brand" href="#">Goty</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="router-link-active">Inicio </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/goty']" routerLinkActive="router-link-active">Votar</a>
            </li>
        </ul>
    </div>
</nav>